body
 {
    background-color:coral;   
    font-size: larger;
    list-style-position: inside;
    text-align: center;
    color: cornsilk;
    font-family:Arial, Helvetica, sans-serif
}

.img{ 
width: 400px;
margin: auto;
padding: 8px;
box-sizing: border-box;
}

.box{
background-color: indianred;
margin: 150px auto;
width: 600px;
padding: 10px;
}

.title{
    background-color: coral;
    margin: 24px;
    padding: 16px;
    color: black;
    font-style: italic;
    margin-top: 16px;
    margin-bottom: 16px;
} 


.list{
display: inline-block;
margin: 8px;
padding: 24px;
text-align: left;
}
 
.steps, .paragraph{
    text-align:center ;
    padding: 16px;
    margin: 8px;
}

